<!DOCTYPE html>
<html>
  <head>
    <title>JayaWishlist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Cagliostro|Limelight|Montserrat|Raleway" rel="stylesheet">
  </head>

  <body>
    <% if logged_in? %>

      <div class="header">
        <div class="header-title">
          <h1 class="title">Wishlister</h1>
        </div>
        <div class="logged-user">
          <span class="logged-user-name"> Welcome <%= "#{@user.username}" %> </span>

          <img class="logged-user-image rounded-circle" src=<%= "#{@user.photo}" %>>
        </div>
        <div class="logout-link">
          <p><%= link_to "Log out", session_url, method: "DELETE", :id => "log-io" %></p>
        </div>
      </div>

    <% end %>

    <%= yield %>
  </body>
</html>
